@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/graphik.woff2') format('woff2'),
		 url('../fonts/graphik.woff')  format('woff'),
		 url('../fonts/graphik.ttf')   format('truetype'),
		 url('../fonts/graphik.svg#g') format('svg');
}

@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/graphik-medium.woff2')  format('woff2'),
		 url('../fonts/graphik-medium.woff')   format('woff'),
		 url('../fonts/graphik-medium.ttf')    format('truetype'),
		 url('../fonts/graphik-medium.svg#gm') format('svg');
}

@font-face {
	font-family: 'Shentox';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/shentox.woff2') format('woff2'),
		 url('../fonts/shentox.woff')  format('woff'),
		 url('../fonts/shentox.ttf')   format('truetype'),
		 url('../fonts/shentox.svg#s') format('svg');
}

@font-face {
	font-family: 'Trump Soft Pro';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/trumpsoftpro.woff2') format('woff2'),
		 url('../fonts/trumpsoftpro.woff')  format('woff'),
		 url('../fonts/trumpsoftpro.ttf')   format('truetype'),
		 url('../fonts/trumpsoftpro.svg#t') format('svg');
}

@font-face {
	font-family: 'Trump Soft Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/trumpsoftpro-bold.woff2')  format('woff2'),
		 url('../fonts/trumpsoftpro-bold.woff')   format('woff'),
		 url('../fonts/trumpsoftpro-bold.ttf')    format('truetype'),
		 url('../fonts/trumpsoftpro-bold.svg#tb') format('svg');
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Graphik', sans-serif;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tabs {
	display: flex;
	flex-direction: column;
	list-style: none;
	min-width: 100%;
	padding: .375rem;
	border-radius: .5rem;
	background-color: #f2f2f2;
	box-shadow: 0 0 0 1px #ddd;
}

.tab + .tab {
	margin-top: .25rem;
}

.toggle-panel {
	width: 100%;
	padding: .375rem .75rem;
	border: none;
	border-radius: .25rem;
	background-color: #ddd;
	color: #404040;
	font-size: 1rem;
	transition: opacity .15s ease-in-out;
	cursor: pointer;

	&:hover {
		opacity: .8;
	}

	&:active {
		opacity: .6;
	}

	&.active {
		background-image: linear-gradient(90deg, #660099 0%, #cc0099 100%);
		color: #fff;
	}
}

@media (min-width: 1200px) {
	.tabs {
		flex-direction: row;
		min-width: auto;
	}

	.tab + .tab {
		margin-top: 0;
		margin-left: .25rem;
	}

	.toggle-panel {
		width: auto;
	}
}

@media (max-width: 1199px) {
	.panels {
		max-width: 100%;
		padding: 1rem;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.pricing-table {
	display: none;
	max-width: 1200px;

	&.active {
		display: flex;
	}
}

.pricing-table__ticket {
	flex: 1 0 0%;
	min-width: 15rem;
	width: 100%;
	max-width: 100%;
}

.pricing-table__ticket-highlighted {
	position: relative;
	z-index: 1;
	box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .1);
}

.pricing-table__ticket-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 28rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.pricing-table__ticket-top-label {
	order: -1;
	display: flex;
	align-items: stretch;
	width: calc(100% + 2rem);
	height: 2rem;
}

.pricing-table__ticket-flash {
	flex-basis: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(90deg, #660099 0%, #cc0099 100%);
	color: #fff;
	font-family: 'Shentox', sans-serif;
	font-size: .875rem;
	letter-spacing: 1.12px;
	text-transform: uppercase;
}

.pricing-table__ticket-title {
	min-height: 3rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-family: 'Trump Soft Pro', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	letter-spacing: .96px;
	text-align: center;
	text-transform: uppercase;
}

.pricing-table__ticket-description {
	min-height: 8.25rem;
	margin: 0;
	color: #505666;
	font-size: .875rem;
	letter-spacing: -.2px;
	line-height: 1.6;
	text-align: center;
}

.pricing-table__ticket-price {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.pricing-table__ticket-price-amount {
	font-size: 1.25rem;
	letter-spacing: -.2px;
}

.pricing-table__ticket-price-full {
	color: #a7aab2;
}

.pricing-table__ticket-price-sale {
	font-weight: 500;
	text-decoration: none;

	&:not(:only-child) {
		margin-left: .5rem;
		color: #ff4422;
	}
}

.pricing-table__ticket-price-fineprint {
	margin-top: .5rem;
	color: #a7aab2;
	font-size: .75rem;
	line-height: .875rem;
	letter-spacing: -.12px;
}

.pricing-table__ticket-buy {
	margin-bottom: 2rem;
}

.pricing-table__ticket-button {
	display: inline-block;
	padding: 1rem 1.5rem;
	border-radius: 1.5rem;
	background-color: #cc0099;
	color: #fff;
	font-size: .8125rem;
	font-weight: 500;
	line-height: 1rem;
	letter-spacing: 0.33px;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity .15s ease-in-out;

	&:hover {
		opacity: .8;
	}

	&:active {
		opacity: .6;
	}
}

.pricing-table__ticket-perks {
	list-style: none;
	padding-left: 0;
	border-bottom: 1px solid #e4e4e5;
}

.pricing-table__ticket-perk {
	position: relative;
	padding: .875rem 1rem;
	font-size: .875rem;
	line-height: 1.25rem;
	letter-spacing: -.21px;

	&:nth-child(odd) {
		background-color: #f7f8f8;
	}
}

.pricing-table__ticket.hidden-mobile .pricing-table__ticket-perk {
	text-align: right;
}

.pricing-table__ticket:not(.hidden-mobile) .pricing-table__ticket-perk {
	text-align: center;
}

.pricing-table__ticket-perk-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline-block;
	transform: translate3d(-50%, -50%, 0);
}

.pricing-table__ticket-perk-icon-available {
	width: 12px;
	height: 6px;
	border-width: 0 0 2px 2px;
	border-style: solid;
	border-color: #505666;
	transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

.pricing-table__ticket-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 1199px) {
	.hidden-mobile {
		display: none;
	}
}

.visibility-hidden {
	visibility: hidden;
}

@media (min-width: 1200px) {
	.visibility-hidden-desktop {
		visibility: hidden;
	}
}
